<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="style/css/bootstrap-custom-style.css" type="text/css">
    <script type="text/javascript" src="style/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="style/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src ="style/js/jQuery_3.4.1.js"></script>
    <script type="text/javascript" src="style/js/tablesort.min.js"></script>
    <link rel="stylesheet" href="style/css/fontawesome.css" type="text/css">
</head>
<body>

<div class="bg-light border-right sidebar">
    <div class="sidebar-heading">Меню </div>
    <div class="list-group list-group-flush">
        <a href="students.php" class="list-group-item list-group-item-action" id="students">Список студентов</a>
        <a href="schedule.php" class="list-group-item list-group-item-action" id="schedule">Расписание</a>
        <a href="tasks.php" class="list-group-item list-group-item-action" id="tasks">Задания</a>
        <a href="marks.php" class="list-group-item list-group-item-action" id="marks">Оценки студентов</a>
    </div>
</div>

{% if loginStatus == 'guest' %}
<a href="login.php"><button class="btn" id="button-login">
    Войти администратором
</button></a>
{% elseif loginStatus == 'loggedIn' %}
<a href="logout.php"><button class="btn" id="button-logout">
    Выйти из системы
</button></a>
{% endif %}

<div id="page-content-wrapper">

    {% block content %}

    {% endblock %}

</div>

<script>
    $(document).ready(function () {
        //new Tablesort(document.getElementById('students-table'));
        new Tablesort(document.getElementById('marks-table'));
    });
</script>

</body>
</html>