{% extends 'index.html' %}

{% block content %}
<script>
    document.getElementById("schedule").classList.add("active");
</script>

{% if loginStatus == 'guest' %}

{% elseif loginStatus == 'loggedIn' %}
<form class="container main-form border-bottom border-light mt-2" method="post">
    <div class="form-group row">
        <div class="col-2 form-group mb-2">
            <label for="date">День</label>
            <select class="form-control form-control" id="date" name="date" required>
                {% for d in days %}
                <option value={{ d.date }}>{{ d.date }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2 form-group mb-2" >
            <label for="time">Время</label>
            <select class="form-control form-control" id="time" name="pair" required>
                {% for p in pairs %}
                <option value={{ p.id }}>{{ p.pair_time }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-4 form-group mb-2">
            <label for="subject">Предмет</label>
            <select class="form-control form-control" id="subject" name="subject" required>
                <option value="1">Системы управления базами данных</option>
                <option value="1">Математические методы анализа данных</option>
                {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2 form-group mb-2">
            <label for="group-schedule">Группа</label>
            <select class="form-control form-control" id="group-schedule" name="group" required>
                {% for g in groups %}
                <option value="{{ g.id }}">{{ g.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2 form-group mb-2">
            <label for="room">Аудитория</label>
            <select class="form-control form-control" id="room" name="classroom" required>
                {% for c in classrooms %}
                <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-4 form-group mb-2">
            <label for="professors">Профессор</label>
            <select class="form-control form-control" id="professors" name="professor" required>
                {% for p in professors %}
                <option value="{{ p.id }}">{{ p.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2 align-self-end pb-1">
            <button type="submit" class="btn btn-primary mb-1">Добавить</button>
        </div>
    </div>
</form>
<p>{{ formStatus }}</p>
{% endif %}

<form class="form-inline main-form" method="get">
    <div class="form-group mx-sm-3 mb-2">
        <select class="form-control form-control-sm" id="group" name="group-filter">
            {% for group in groups %}
            <option id="group-elem-{{ group.id }}" value={{ group.id }}>{{ group.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2" id="filterGroup">Выполнить</button>
</form>

<div class="table-wrapped-scroll-y">
<table class="table" id="schedule-table">
    <thead>
    <tr>
        <th scope="col">Время</th>
        {% for dt in date %}
            <th scope="col"> {{ dt.date }} </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr class="table-row">
        <td>8.30-10.00</td>
        {% for dt in date %}
        <td>
            {% for sch in schedule %}
            {% if sch.date == dt.date %}
            {% if sch.pair_time == "08:30:00-10:00:00" %}
            {{ sch.lesson ~ " " ~ sch.classroom }}
            {% endif %}
            {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>

    <tr class="table-row">
        <td>10.10-11.40</td>
        {% for dt in date %}
        <td>
        {% for sch in schedule %}
            {% if sch.date == dt.date %}
            {% if sch.pair_time == "10:10:00-11:40:00" %}
                {{ sch.lesson ~ " " ~ sch.classroom }}
            {% endif %}
            {% endif %}
        {% endfor %}
        </td>
        {% endfor %}
    </tr>

    <tr class="table-row">
        <td>11.50-13.20</td>
        {% for dt in date %}
        <td>
        {% for sch in schedule %}
        {% if sch.date == dt.date %}
            {% if sch.pair_time == "11:50:00-13:20:00" %}
                {{ sch.lesson ~ " " ~ sch.classroom }}
            {% endif %}
        {% endif %}
        {% endfor %}
        </td>
        {% endfor %}
    </tr>

    <tr class="table-row">
        <td>13.30-15.00</td>
        {% for dt in date %}
        <td>
            {% for sch in schedule %}
            {% if sch.date == dt.date %}
                {% if sch.pair_time == "13:30:00-15:00:00" %}
                    {{ sch.lesson ~ " " ~ sch.classroom }}
                {% endif %}
            {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>

    <tr class="table-row">
        <td>15.10-16.40</td>
        {% for dt in date %}
        <td>
            {% for sch in schedule %}
            {% if sch.date == dt.date %}
                {% if sch.pair_time == "15:10:00-16:40:00" %}
                    {{ sch.lesson ~ " " ~ sch.classroom }}
                {% endif %}
            {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>

    <tr class="table-row">
        <td>16.50-18.20</td>
        {% for dt in date %}
        <td>
            {% for sch in schedule %}
            {% if sch.date == dt.date %}
                {% if sch.pair_time == "16:50:00-18:20:00" %}
                    {{ sch.lesson ~ " " ~ sch.classroom }}
                {% endif %}
            {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
        </tr>

    <tr class="table-row">
        <td>18.30-20.00</td>
        {% for dt in date %}
        <td>
            {% for sch in schedule %}
                {% if sch.date == dt.date %}
                    {% if sch.pair_time == "18:30:00-20:00:00" %}
                        {{ sch.lesson ~ " " ~ sch.classroom }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>

    </tbody>
    <!-- <td>10.10-11.40</td>
        <td>11.50-13.20</td>
        <td>13.30-15.00</td>
        <td>15.10-16.40</td>
        <td>16.50-18.20</td>
        <td>18.30-19.50</td> -->
</table>
</div>
<script>
  $(document).ready(function() {
    document.getElementById('group-elem-{{ group_selected }}').setAttribute("selected", "selected");
  });
</script>
{% endblock %}