<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="style/css/bootstrap-custom-style.css" type="text/css">
    <script type="text/javascript" src="style/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="style/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src ="style/js/jQuery_3.4.1.js"></script>
    <script type="text/javascript" src="style/js/tablesort.min.js"></script>
</head>
<body>
<p>Название группы: {{ selected_group[0].name }}</p>
<table class="table table-schedule" id="marks-table">
    <thead>
    <tr>
        <th role="columnheader" scope="col">Студент</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
    <tr>
        <td>{{student.student_name}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>