{% extends "index.html" %}

{% block content %}
<script>
    document.getElementById("students").classList.add('active');
</script>

{% if loginStatus == 'guest' %}

{% elseif loginStatus == 'loggedIn' %}
<p>Привет админ! Это страница студентов</p>
{% endif %}

<form class="form-inline" id="main-form" method="get">
    <div class="form-group mx-sm-3 mb-2">
        <select class="form-control form-control-sm" id="group" name="group">
            <option value="0">Все группы</option>
            {% for group in groups %}
                <option id="group-elem-{{ group.id }}" value={{ group.id }}>{{ group.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2" id="filterGroup">Выполнить</button>
</form>

<table class="table" id="students-table">
    <thead>
    <tr>
        <th scope="col">Полное имя</th>
        <th scope="col">Группа</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
    <tr>
        <td> <a href="" onclick="window.open('selected_student.php?st_id={{ student.id }}', '_blank', 'height=640,width=640');"> {{ student.name }} </a></td>
        <td>{{ student.group }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    document.getElementById('group-elem-{{ group_selected }}').setAttribute("selected", "selected");
</script>
{% endblock %}