{% extends "index.html" %}

{% block content %}
<script>
    document.getElementById("tasks").classList.add('active');
</script>

{% if loginStatus == 'guest' %}

{% elseif loginStatus == 'loggedIn' %}
<form class="container border-bottom border-light mt-2" method="post">
    <div class="row">
        <div class="form-group mb-2">
            <label for="subject">Предмет</label>
            <select class="form-control form-control-sm" id="subject" name="subject" required>
                {% for subject in subjects %}
                <option id="subject-elem-{{ subject.id }}" value="{{ subject.id }}">{{ subject.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row col-7 p-0">
        <label for="description">Текст задания</label>
        <textarea name="description" class="form-control" id="description" rows="2" required></textarea>
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary mb-2" id="filterSubject">Добавить</button>
    </div>
</form>
{% endif %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Номер задания</th>
        <th scope="col">Предмет</th>
        <th scope="col">Текст задания</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.text }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}